/* .rightPanelRoot {
  display: none;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px 4px 4px 4px;
  outline: 1px solid rgb(235, 92, 32);
  position: absolute;
  outline-offset: -1px;
  right: 20px;
  top: 60px;
  max-width: 204px;
  z-index: 9999999;
} */



.rightPanelRoot {
  display: none;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px 4px 4px 4px;
  outline: 1px solid rgb(235, 92, 32);
  outline-offset: -1px;
  position: absolute; 
  right: 0;  
  top: 40px; 
  max-width: 204px;
  z-index: 9999999;
}

.header__image1 {
  cursor: pointer;
}

.cell3 {
  position: relative;
}





.specialParagraph {
  display: flex;
  align-items: center;
  font: 400 14px/1.6 "Inter", Helvetica, Arial, serif;
  color: rgb(235, 92, 32);
  letter-spacing: 0px;
  position: relative;
  margin: 8.5px 16px 0px;
}

.rightPanelPointer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 6.5px 0px 8px;
}

.rightPanelPointer:hover {
  /* cursor: pointer; */
}

.Pointer:hover {
  cursor: pointer;
}


.line {
  background-color: rgb(221, 221, 221);
  height: 1px;
  position: relative;
}

.line:hover {
  background-color: rgb(221, 221, 221);
  height: 1px;
  position: relative;
  /* margin: 8px 0px 0px; */
}

.rightPanelText {
  display: flex;
  align-items: center;
  font: 400 14px/1.6 "Inter", Helvetica, Arial, serif;
  color: #292929;
  letter-spacing: 0px;
  position: relative;
  margin: 0px 16px;
}

.rightPanelText:hover {
  display: flex;
  align-items: center;
  font: 400 14px/1.6 "Inter", Helvetica, Arial, serif;
  color: rgb(235, 92, 32);
  letter-spacing: 0px;
  position: relative;
  /* margin: 8px 16px 0px; */
}

.headerTopPosition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header__box {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.129);
  position: relative;
  overflow: hidden;
}

.header__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  flex-grow: 1;
  /* max-width: 1272px; */
  margin: 5px auto;
}

@media (max-width: 767px) {
  .header__group {
    margin: 4px auto;
  }
}

.header__flexRow {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  margin: 0px 22px 0px 24px;
}

/* @media (max-width: 1199px) { */
  .header__flexRow {
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }
/* } */

@media (min-width: 1280px) {
  .header__flexRow > .cell2 {
    margin: 0px 100px;
  }
}

/* 
@media (max-width: 767px) {
  .header__flexRow {
    justify-content: center;
  }
} */

.header__flexRow>.cell {
  display: none;
  flex-direction: column;
  position: relative;
  flex: 0 1 16px;
}

@media (max-width: 767px) {
  .header__flexRow>.cell {
    flex: 0 0 16px;
    min-width: 16px;
    display: flex;
    order: 1;
  }
}

.header__image2 {
  width: 16px;
  height: auto;
  aspect-ratio: 1.07;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: relative;
  min-width: 16px;
  margin: 17px 0px 18px;
}

@media (max-width: 767px) {
  .header__image2 {
    margin: 8px auto 8px 0px;
  }
}

.header__flexRow>.spacer {
  display: none;
  flex: 0 1 4px;
}

@media (max-width: 991px) {
  .header__flexRow>.spacer {
    min-width: unset;
    display: flex;
    order: 2;
  }
}

@media (max-width: 767px) {
  .header__flexRow>.spacer {
    flex: 1 1 auto;
  }
}

.header__flexRow>.cell1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 122px;
}

@media (max-width: 991px) {
  .header__flexRow>.cell1 {
    min-width: unset;
    order: 3;
  }
}

@media (max-width: 767px) {
  .header__flexRow>.cell1 {
    flex: 0 0 122px;
    min-width: 122px;
  }
}



.header__image {
  width: auto; 
  max-width: 150px; 
  height: auto; 
  aspect-ratio: 2.44; 
  object-fit: contain; 
  object-position: center center; 
  display: block; 
  margin: 0 auto; 
}

@media (max-width: 768px) {
  .header__image {
    max-width: 100px; 
  }
}

@media (max-width: 480px) {
  .header__image {
    max-width: 80px; 
  }
}


.header__flexRow>.spacer1 {
  flex: 0 1 90px;
}

@media (max-width: 991px) {
  .header__flexRow>.spacer1 {
    min-width: unset;
    display: flex;
    order: 4;
  }
}

@media (max-width: 767px) {
  .header__flexRow>.spacer1 {
    flex: 1 1 auto;
  }
}

.header__flexRow>.cell2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 560px;
}

@media (max-width: 1199px) {
  .header__flexRow>.cell2 {
    flex: 1 1 560px;
    min-width: unset;
  }
}

@media (max-width: 991px) {
  .header__flexRow>.cell2 {
    flex: 0 0 auto;
    order: 5;
  }
}

@media (max-width: 767px) {
  .header__flexRow>.cell2 {
    display: none;
  }
}

.header__flexRow1 {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  margin: 15px 0px 14px;
}

@media (max-width: 1199px) {
  .header__flexRow1 {
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }
}

.header__flexRow1>.cell {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 64px;
  min-width: 64px;
}

.header__highlights {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
  color: rgb(41, 41, 41);
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .header__highlights {
    font-size: 14px;
  }
}

.header__flexRow1>.spacer {
  flex: 0 1 60px;
}

@media (max-width: 1199px) {
  .header__flexRow1>.spacer {
    min-width: unset;
    display: flex;
  }
}

@media (max-width: 991px) {
  .header__flexRow1>.spacer {
    flex: 0 0 20px;
    min-width: 20px;
  }
}

.header__highlights1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
  color: rgb(41, 41, 41);
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .header__highlights1 {
    font-size: 14px;
  }
}

.header__flexRow1>.spacer1 {
  flex: 0 1 60px;
}

@media (max-width: 991px) {
  .header__flexRow1>.spacer1 {
    flex: 0 0 20px;
    min-width: 20px;
    display: flex;
  }
}

.header__highlights2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
  color: rgb(41, 41, 41);
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .header__highlights2 {
    font-size: 14px;
  }
}

.header__highlights3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
  color: rgb(41, 41, 41);
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .header__highlights3 {
    font-size: 14px;
  }
}

.header__highlights4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
  color: rgb(41, 41, 41);
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .header__highlights4 {
    font-size: 14px;
  }
}

.header__flexRow>.spacer2 {
  flex: 1 1 392px;
}

@media (max-width: 991px) {
  .header__flexRow>.spacer2 {
    min-width: unset;
    display: flex;
    order: 6;
  }
}

@media (max-width: 767px) {
  .header__flexRow>.spacer2 {
    display: none;
  }
}

.header__flexRow>.cell3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 72px;
}

@media (max-width: 991px) {
  .header__flexRow>.cell3 {
    min-width: unset;
    order: 7;
  }
}

@media (max-width: 767px) {
  .header__flexRow>.cell3 {
    flex: 0 0 auto;
    min-width: 0px;
  }
}

.header__flexRow2 {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中（如果需要） */
  width: fit-content; /* 根据内容调整宽度 */
  flex-grow: 0; /* 不占据额外空间 */
  min-width: 0; /* 防止溢出 */
  /* margin: 14px 0px 15px; */
}


/* .header__flexRow2 {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  flex-grow: 1;
  min-width: 0px;
  /* margin: 14px 0px 15px; 
*/



/* @media (min-width: 1400px) and (max-width: 1919px) {
  .header__flexRow2 {
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }
}

@media (max-width: 767px) {
  .header__flexRow2 {
    justify-content: flex-end;
    align-items: center;
    -moz-column-gap: 0px;
    column-gap: 0px;
    margin: 20px;
  }
}

.header__flexRow2>.cell {
  display: none;
  flex-direction: column;
  position: relative;
  flex: 0 0 32px;
  min-width: 32px;
} */

.header__highlights11 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
  color: rgb(41, 41, 41);
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
}

.header__flexRow2>.spacer {
  flex: 1 0 24px;
  min-width: 24px;
}

@media (min-width: 1400px) and (max-width: 1919px) {
  .header__flexRow2>.spacer {
    flex: 1 1 24px;
    min-width: unset;
    display: flex;
  }
}

@media (max-width: 767px) {
  .header__flexRow2>.spacer {
    flex: 1 1 24px;
    min-width: unset;
    display: none;
  }
}

.header__flexRow2>.cell1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 16px;
  min-width: 16px;
}

@media (min-width: 1400px) and (max-width: 1919px) {
  .header__flexRow2>.cell1 {
    flex: 1 1 16px;
    min-width: unset;
  }
}

.header__image1 {
  width: 16px;
  height: auto;
  aspect-ratio: 0.94;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: relative;
  min-width: 16px;
  margin: 2px 0px;
}

@media (max-width: 991px) {
  .header__image1 {
    width: 14px;
    min-width: 14px;
  }
}

@media (max-width: 767px) {
  .header__image1 {
    margin: 0px;
  }
}

.tabbar_item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.logout_box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(221, 221, 221);
  border-radius: 12px 12px 12px 12px;
  position: absolute;
  right: 20px;
  top: 70px;
  min-width: 200px;
  z-index: 1000;
}

.logout_btn_layout {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 92, 32);
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  position: relative;
  margin: 20px 0px 0px 0px;
}

.logout_text {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
  width: 32px;
  position: relative;
  flex-grow: 1;
  min-width: 32px;
  margin: 8px auto 9px;
}

.logout_close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.mySidenavRoot {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}

.mySidenavRect {
  position: relative;
}

.mySidenavFlexCol {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px 0px 151px;
}

.mySidenavContent_box {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-width: 0px 0px 1px 0px;
  position: relative;
  cursor: pointer;
}

.mySidenavContent_box:hover,
.mySidenavContent_box:hover .mySidenavText {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 238, 223);
  position: relative;
}

.mySidenavText {
  display: flex;
  align-items: center;
  font: 400 14px/1.6 "Inter", Helvetica, Arial, serif;
  color: rgb(41, 41, 41);
  letter-spacing: 0px;
  width: 56px;
  position: relative;
  flex-grow: 1;
  min-width: 56px;
  margin: 13.5px auto;
}

.mySidenavText:hover,
.mySidenavContent_box:hover .mySidenavText {
  display: flex;
  align-items: center;
  font: 400 14px/1.6 "Inter", Helvetica, Arial, serif;
  color: rgb(235, 92, 32);
  letter-spacing: 0px;
  width: 56px;
  position: relative;
  flex-grow: 1;
  min-width: 56px;
  margin: 13.5px auto;
}

.mySidenav {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 50px;
  /* Stay at the top */
  left: 0;
  background-color: #ffffff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  z-index: 999999;
}

@media screen and (max-height: 450px) {
  .mySidenav {
    padding-top: 15px;
  }

  .mySidenav a {
    font-size: 18px;
  }
}

.dontclick:hover{
  cursor: default !important;/* 禁止手型游標 */
  pointer-events: none; /* 禁止點擊行為 */

}
/*# sourceMappingURL=style.css.map */