* {
	font-family: "Open Sans", sans-serif;
}

.content-box {
	max-width: 1280px;

	min-width: 768px;

	min-height: calc(100vh - 90px);

	padding: 30px 80px 20px;

	background: #f3f3f3;

	margin: 0 auto;
}

h2 {
	display: flex;

	align-items: center;

	gap: 13px;

	font-size: 24px;

	color: #292929;

	padding: 0 0 25px;

	background: #f3f3f3;
}

.table {
	margin: 0;
}

table thead tr {
	height: 30px;

	font-size: 12px;

	text-align: center;

	background-color: #ebebeb;
}

.table > :not(caption) > * > * {
	padding: 0;
}

.table > :not(:first-child) {
	border-top: solid 1px #ddd;
}

table thead tr th,
table tbody tr td {
	padding: 0 5px !important;
}

table thead tr th:nth-child(1),
table tbody tr td:nth-child(1) {
	width: 135px;

	padding-left: 16px !important;
}

table thead tr th:nth-child(2) {
	width: 60px;
}

table thead tr th:nth-child(3) {
	width: 60px;
}

table thead tr th:nth-child(4) {
	width: 110px;
}

table thead tr th:nth-child(5) {
	width: 110px;
}

table thead tr th:nth-child(6) {
	width: 60px;
}

table thead tr th:nth-child(7) {
	width: 95px;
}

table thead tr th:nth-child(8) {
	width: 70px;
}

table thead tr th:nth-child(9) {
	width: 100px;
}

table tbody tr {
	height: 60px;

	font-size: 14px;

	padding: 0;

	background-color: #fff;
}

table tbody tr:hover {
	background-color: #ffeedf;

	cursor: pointer;
}

table thead tr th span {
	height: 30px;

	display: flex;

	align-items: center;

	word-break: break-all;
}

table tbody tr td span {
	height: 60px;

	display: flex;

	align-items: center;

	word-break: break-all;
}

table tbody tr td:nth-child(4) span span,
table tbody tr td:nth-child(5) span span {
	text-overflow: ellipsis;

	/* display: -webkit-box; */

	-webkit-line-clamp: 2;

	-webkit-box-orient: vertical;

	overflow: hidden;

	height: 40px;
}

.table-box .text {
	position: relative;

	display: flex;

	color: #292929;

	font-size: 14px;
}

.table-box .text.type {
	padding-left: 16px;
}

.table-box .text.type::after {
	content: "";

	position: absolute;

	left: 0;

	top: 32%;

	display: block;

	width: 10px;

	height: 10px;

	margin: 5px 8px 4px 0;

	border-radius: 50%;
}

.table-box .text.type.type01::after {
	background-color: #ea475b;
}

.table-box .text.type.type02::after {
	background-color: #ffbe00;
}

.table-box .text.type.type03::after {
	background-color: #4e91ff;
}

.table-box .text.type.type04::after {
	background-color: #1eabb8;
}

.table-box .text.type.type05::after {
	background-color: #7e7e7e;
}

.page-box {
	display: flex;

	align-items: center;

	justify-content: center;

	height: 60px;

	background-color: #fff;
}

.page-box > div {
	display: flex;

	align-items: center;

	justify-content: center;
}

.page-box span {
	display: flex;

	align-items: center;

	justify-content: center;

	cursor: pointer;

	font-size: 14px;

	font-weight: bolder;

	width: 24px;

	height: 24px;
}

.page-box span.active {
	background-color: #ffeedf;

	border-radius: 50%;
}

.page-box span:hover {
	font-weight: bolder;

	color: #1eabb8;
}

.pc_none {
	display: none;
}

@media (max-width: 768px) {
	.mb_none {
		display: none !important;
	}

	.pc_none {
		display: block;
	}

	h2 {
		padding-left: 16px;

		line-height: 24px;
	}

	.total-text {
		position: absolute;

		right: 16px;

		top: 24px;

		font-size: 14px;

		color: #292929;
	}

	.content-box {
		position: relative;

		width: 100%;

		min-width: auto;

		padding: 24px 0;
	}

	.table-box .content {
		display: flex;

		flex-wrap: wrap;

		gap: 24px;
	}

	.table-box .box {
		display: flex;

		flex-wrap: wrap;

		gap: 16px;

		width: calc(100% - 32px);

		padding: 16px 20px 20px 16px;

		border-radius: 4px;

		border: solid 1px #ddd;

		background-color: #fff;

		margin: 0 auto;
	}

	.table-box .box .text-box {
		display: flex;

		gap: 24px;

		align-items: center;

		width: 100%;
	}

	.table-box .box .text-box .title {
		width: 30%;

		display: block;

		text-align: right;

		color: #292929;

		font-size: 12px;

		font-weight: bold;
	}

	.table-box .text.type::after {
		top: 0;
	}

	.page-content {
		width: 100%;

		height: 60px;

		background-color: #fff;

		display: flex;

		align-items: center;

		justify-content: center;

		gap: 24px;

		font-size: 14px;

		color: #292929;

		margin-top: 24px;
	}

	.page-content span {
		display: flex;

		align-items: center;

		gap: 4px;
	}

	.page-content span svg {
		margin-bottom: 2px;
	}
}
