<div class="footer footer__box2">
  <div class="footer__group">
    <div class="footer__flexRow">
      <div class="cell">
        <div class="footer__flexRow1">
          <div class="cell">
            <div class="footer__info">
              106台北市大安區溫州街22巷8號
            </div>
          </div>
          <div class="cell1">
            <div class="footer__info1">  |   </div>
          </div>
          <div class="cell2">
            <div class="footer__info2">
              TEL：02-23695990   |   Email：rhh.utb2021@gmail.com
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="cell1">

        <div class="footer__info_sm">
          106台北市大安區溫州街22巷8號
        </div>
        <div class="footer__info2_sm">
          TEL：02-23695990   |   Email：rhh.utb2021@gmail.com
        </div>

        <div class="footer__info3">
          ＵpStrong © 2022 by 強生寓所
        </div>
      </div>
    </div>
  </div>
</div>