.group {
	display: flex;
	flex-direction: column;
	position: relative;
}

.Banner {
	position: relative;
	width: 100%;
	height: 300px; /* 必须设定高度 */
}

.bg-image {
	width: 100%;
	height: 100%;
	object-fit: cover; /* 或 contain */
}

@media (max-width: 768px) {
	.bg-image {
		display: none;
	}
}

.bg-image-md {
	display: none;
}
@media (max-width: 768px) {
	.bg-image-md {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.root {
	display: flex;
	flex-direction: column;
	background-color: rgb(243, 243, 243);
	position: relative;
	overflow: hidden;
	flex-grow: 1;
}

.box {
	box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.129);
	position: relative;
}

.box1 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 12px 12px 12px 12px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	width: 35.16%;
	position: relative;
	overflow: hidden;
	min-width: 450px;
	max-width: 450px;
	margin: 110px auto 100px;
}
@media (max-width: 1199px) {
	.box1 {
		margin: 90px auto;
	}
}
@media (max-width: 991px) {
	.box1 {
		margin: 72px auto 80px;
	}
}
@media (max-width: 767px) {
	.box1 {
		width: 87.55%;
		min-width: 0px;
		max-width: 999px;
		margin: 52px auto 68px;
	}
}
@media (max-width: 575px) {
	.box1 {
		width: 90.36%;
		max-width: 9999px;
		margin: 36px auto 48px;
	}
}
@media (max-width: 479px) {
	.box1 {
		width: 93.36%;
		margin: 24px auto 30px;
	}
}

.flexCol {
	display: flex;
	flex-direction: column;
	width: 78.44%;
	position: relative;
	flex-grow: 1;
	margin: 24px auto 31px;
}
@media (max-width: 991px) {
	.flexCol {
		width: 83.06%;
	}
}
@media (max-width: 479px) {
	.flexCol {
		width: 91.69%;
	}
}

.flexRow {
	display: flex;
	align-items: center;
	-moz-column-gap: 19px;
	column-gap: 19px;
	position: relative;
}
@media (max-width: 1199px) {
	.flexRow {
		justify-content: flex-start;
		align-items: center;
		-moz-column-gap: 14px;
		column-gap: 14px;
	}
}
@media (max-width: 575px) {
	.flexRow {
		-moz-column-gap: 12px;
		column-gap: 12px;
	}
}

.flexRow > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 8px;
}

.image3 {
	width: 8px;
	height: auto;
	aspect-ratio: 0.57;
	vertical-align: top;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	position: relative;
	min-width: 8px;
	margin: 12px 0px 6px;
}

.flexRow > .cell1 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 0 96px;
	min-width: 96px;
}

.medium_title {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 24px/1.33 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(41, 41, 41);
	text-align: center;
	letter-spacing: 0px;
	width: -moz-fit-content;
	width: fit-content;
	position: relative;
	flex-grow: 1;
	min-width: 0px;
}
@media (max-width: 991px) {
	.medium_title {
		font-size: 20px;
		text-align: left;
		justify-content: flex-start;
	}
}

.flexCol1 {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 46px 0px 0px 3px;
}

.text {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 14px/1.35 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(41, 41, 41);
	text-align: center;
	letter-spacing: 0px;
	width: 31.71%;
	position: relative;
	margin: 0px 68.29% 0px 0%;
}
@media (max-width: 575px) {
	.text {
		text-align: left;
		justify-content: flex-start;
		width: 100%;
		margin: 0px 0px;
	}
}

.rect {
	background-color: rgb(243, 243, 243);
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	min-height: 38px;
	margin: 8px 0px 0px;
}

.flexCol2 {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 16px 0px 0px 3px;
}

.text1 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 14px/1.35 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(41, 41, 41);
	text-align: center;
	letter-spacing: 0px;
	width: 8%;
	position: relative;
	margin: 0px 92% 0px 0%;
}
@media (max-width: 575px) {
	.text1 {
		text-align: left;
		justify-content: flex-start;
		width: 100%;
		margin: 0px 0px;
	}
}

.flexRow1 {
	display: flex;
	align-items: center;
	position: relative;
	margin: 8px 3px 0px;
}

.flexRow1 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 24px;
}

.icon {
	width: 24px;
	height: auto;
	aspect-ratio: 0.96;
	vertical-align: top;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	position: relative;
	min-width: 24px;
}

.flexRow1 > .cell1 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 0 56px;
	min-width: 56px;
}

.highlights {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(41, 41, 41);
	text-align: center;
	letter-spacing: 0px;
	position: relative;
	flex-grow: 1;
	margin: 2px 0px 2px 8px;
}

.content_box {
	display: flex;
	flex-direction: column;
	background-color: #1eabb8;
	border-radius: 4px 4px 4px 4px;
	position: relative;
	margin: 64px 0px 0px 3px;
	cursor: pointer;
}

.highlights2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(255, 255, 255);
	text-align: center;
	letter-spacing: 0px;
	width: 32px;
	position: relative;
	flex-grow: 1;
	min-width: 32px;
	margin: 8px auto 9px;
}

.content_box1 {
	display: flex;
	flex-direction: column;
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid #1eabb8;
	outline-offset: -1px;
	position: relative;
	margin: 24px 0px 0px 3px;
	cursor: pointer;
}

.highlights3 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: #1eabb8;
	text-align: center;
	letter-spacing: 0px;
	width: 32px;
	position: relative;
	flex-grow: 1;
	min-width: 32px;
	margin: 8px auto 9px;
}

.highlights4 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(22, 84, 185);
	text-align: center;
	letter-spacing: 0px;
	width: 64px;
	position: relative;
	min-width: 64px;
	margin: 24px auto 0px;
}

.box2 {
	position: relative;
}

.box3 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	width: 60px;
	height: 60px;
	position: absolute;
	overflow: hidden;
	bottom: 63px;
	right: 24px;
	cursor: pointer;
}
@media (max-width: 991px) {
	.box3 {
		bottom: 90px;
	}
}
@media (max-width: 767px) {
	.box3 {
		display: none;
	}
}

.flexCol3 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
	margin: 14px 14px 13px;
}

.flexCol3 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
}

.image4 {
	width: 14px;
	height: auto;
	aspect-ratio: 1.75;
	vertical-align: top;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	position: relative;
	min-width: 14px;
	margin: 0px 9px;
}

.highlights5 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(126, 126, 126);
	text-align: center;
	letter-spacing: 0px;
	position: relative;
	margin: 4px 0px 0px;
}

.decoration-none {
	text-decoration: none;
} /*# sourceMappingURL=style.css.map */

input:focus {
	border-color: solid 1px #1eabb8;
}
