@charset "UTF-8";
.main {
	display: flex;
	flex-direction: column;
	background-color: rgb(243, 243, 243);
	padding: undefinedpx undefinedpx undefinedpx undefinedpx;
	position: relative;
	overflow: hidden;
}

.main > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
}

.section1__section1 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
	min-height: 60px;
}

.section1__box {
	box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.129);
	position: relative;
	flex-grow: 1;
}

.section2__section2 {
	display: flex;
	flex-direction: column;
	width: 99.84%;
	position: relative;
	flex-grow: 1;
	max-width: 1280px;
	margin: 0px auto;
}

.section2__flexCol {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
	margin: 30px 147px 0px;
}
@media (max-width: 1199px) {
	.section2__flexCol {
		margin: 30px 90px 0px;
	}
}
@media (max-width: 991px) {
	.section2__flexCol {
		margin: 30px 40px 0px;
	}
}
@media (max-width: 767px) {
	.section2__flexCol {
		margin: 30px 0px 0px;
	}
}

.section2__flexRow {
	display: flex;
	align-items: center;
	-moz-column-gap: 13px;
	column-gap: 13px;
	position: relative;
}
@media (max-width: 767px) {
	.section2__flexRow {
		margin: 0px 20px;
	}
}

.section2__flexRow > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 8px;
}

.section2__image4 {
	width: 8px;
	height: auto;
	aspect-ratio: 0.57;
	vertical-align: top;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	position: relative;
	min-width: 8px;
	margin: 12px 0px 6px;
}

.section2__medium_title {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 24px/1.33 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(41, 41, 41);
	text-align: center;
	letter-spacing: 0px;
	position: relative;
	flex: 0 0 auto;
	min-width: 96px;
}

.section2__box1 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 12px 12px 0px 0px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	overflow: hidden;
	margin: 24px 0px 100px 3px;
}

.section2__flexCol1 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
	margin: 30px 24px 40px;
}
@media (max-width: 991px) {
	.section2__flexCol1 {
		margin: 30px 20px 40px;
	}
}
@media (max-width: 479px) {
	.section2__flexCol1 {
		margin: 30px 18px 40px;
	}
}
@media (max-width: 383px) {
	.section2__flexCol1 {
		margin: 30px 12px 40px;
	}
}

.section2__flexRow1 {
	display: flex;
	align-items: center;
	position: relative;
}

.section2__flexRow2 {
	display: flex;
	align-items: center;
	position: relative;
	flex: 0 1 126px;
}

.section2__flexRow2 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 24px;
}

.section2__icon {
	width: 24px;
	height: auto;
	aspect-ratio: 1;
	vertical-align: top;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	position: relative;
	min-width: 24px;
}

.section2__flexRow2 > .cell1 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 0 102px;
	min-width: 102px;
}

.section2__highlights {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(41, 41, 41);
	text-align: center;
	letter-spacing: 0px;
	position: relative;
	flex-grow: 1;
	margin: 1px 0px 2px 6px;
}

.section2__flexRow1 > .spacer {
	flex: 0 1 24px;
}

.section2__flexRow2 > .cell2 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 24px;
}

.section2__flexRow2 > .cell3 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 0 102px;
	min-width: 102px;
}

.section2__flexCol2 {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 24px 0px 0px;
}

.section2__flexCol2 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
}

.section2__content_box {
	display: flex;
	flex-direction: column;
	background-color: rgb(243, 243, 243);
	width: 100%;
	height: 100%;
}

.section2__group {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.section2__highlights2 {
	display: flex;
	align-items: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(34, 34, 34);
	letter-spacing: 0px;
	width: -moz-fit-content;
	width: fit-content;
	position: relative;
	flex-grow: 1;
	min-width: 0px;
	margin: 0px 0px;
}

.section2__highlights6 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(209, 0, 0);
	text-align: center;
	letter-spacing: 0px;
	width: 9px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: -22.5px;
}

.section2__flexRow3 {
	display: flex;
	align-items: center;
	position: relative;
	margin: 24px 38px 0px;
}
@media (max-width: 991px) {
	.section2__flexRow3 {
		margin: 24px 25px 0px;
	}
}
@media (max-width: 767px) {
	.section2__flexRow3 {
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		row-gap: 16px;
	}
}
@media (max-width: 575px) {
	.section2__flexRow3 {
		margin: 24px 20px 0px;
	}
}
@media (max-width: 479px) {
	.section2__flexRow3 {
		margin: 24px 0px 0px;
	}
}

.section2__flexRow3 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 300px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .cell {
		flex: 0 0 calc(100% - 0px);
		min-width: unset;
	}
}

.section2__flexCol3 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
}

.section2__highlights3 {
	display: flex;
	align-items: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(89, 89, 89);
	letter-spacing: 0px;
	width: 100%;
	position: relative;
	margin: 0px 0px;
}

.section2__content_box1 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	margin: 8px 0px 0px;
}

.section2__highlights4 {
	display: flex;
	align-items: center;
	font: 400 18px/1.33 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(34, 34, 34);
	letter-spacing: 0px;
	position: relative;
	flex-grow: 1;
	margin: 8px 16px;
}

.section2__flexRow3 > .spacer {
	flex: 0 1 36px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .spacer {
		display: none;
	}
}

.section2__flexRow3 > .cell1 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 300px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .cell1 {
		flex: 0 0 calc(100% - 0px);
		min-width: unset;
	}
}

.section2__content_box11 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	margin: 6px 0px 0px;
}

.section2__flexRow3 > .spacer1 {
	flex: 0 1 36px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .spacer1 {
		display: none;
	}
}

.section2__flexRow3 > .cell2 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 300px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .cell2 {
		flex: 0 0 calc(100% - 0px);
		min-width: unset;
	}
}

.section2__highlights41 {
	display: flex;
	align-items: center;
	font: 400 18px/1.33 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(34, 34, 34);
	letter-spacing: 0px;
	width: 79.33%;
	position: relative;
	flex-grow: 1;
	margin: 8px 15.33% 8px 5.33%;
}

.section2__image3 {
	width: 14px;
	height: auto;
	aspect-ratio: 1.75;
	vertical-align: top;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	position: absolute;
	top: 16px;
	right: 16px;
}

.section2__flexRow3 > .spacer2 {
	flex: 0 1 36px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .spacer2 {
		display: none;
	}
}

.section2__flexRow3 > .cell3 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 300px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .cell3 {
		flex: 0 0 calc(100% - 0px);
		min-width: unset;
	}
}

.section2__flexRow3 > .spacer3 {
	flex: 0 1 36px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .spacer3 {
		display: none;
	}
}

.section2__flexCol4 {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.section2__content_box10 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	margin: 6px 0px 0px;
}

.section2__flexCol5 {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 40px 0px 0px;
}

.section2__flexCol5 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
}

.section2__content_box2 {
	display: flex;
	flex-direction: column;
	background-color: rgb(243, 243, 243);
	position: relative;
	flex-grow: 1;
}

.section2__highlights21 {
	display: flex;
	align-items: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(34, 34, 34);
	letter-spacing: 0px;
	width: -moz-fit-content;
	width: fit-content;
	position: relative;
	flex-grow: 1;
	min-width: 0px;
}

.section2__highlights61 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(209, 0, 0);
	text-align: center;
	letter-spacing: 0px;
	width: 9px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: -18.5px;
}

.section2__content_box12 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	margin: 6px 0px 0px;
}

.section2__highlights31 {
	display: flex;
	align-items: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(89, 89, 89);
	letter-spacing: 0px;
	width: 100%;
	position: relative;
	margin: 0px 0px;
}
.section2__content_box13 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	margin: 6px 0px 0px;
}

.section2__highlights7 {
	display: flex;
	align-items: center;
	font: 400 18px/1.33 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(126, 126, 126);
	letter-spacing: 0px;
	position: relative;
	flex-grow: 1;
	margin: 8px 16px;
}

.section2__highlights42 {
	display: flex;
	align-items: center;
	font: 400 18px/1.33 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(34, 34, 34);
	letter-spacing: 0px;
	width: 79.33%;
	position: relative;
	flex-grow: 1;
	margin: 8px 15.33% 8px 5.33%;
}
@media (max-width: 767px) {
	.section2__highlights42 {
		margin: 0px 15.33% 8px 5.33%;
	}
}

.section2__flexCol5 > .cell1 {
	display: flex;
	flex-direction: column;
	position: relative;
}

.section2__highlights22 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(34, 34, 34);
	text-align: center;
	letter-spacing: 0px;
	width: -moz-fit-content;
	width: fit-content;
	position: relative;
	flex-grow: 1;
	min-width: 0px;
}

.section2__highlights62 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(209, 0, 0);
	text-align: center;
	letter-spacing: 0px;
	width: 9px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: -16.5px;
}

.section2__flexRow3 > .cell4 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 300px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .cell4 {
		flex: 0 0 calc(100% - 0px);
		min-width: unset;
	}
}

.section2__flexRow3 > .spacer4 {
	flex: 0 1 36px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .spacer4 {
		display: none;
	}
}

.section2__flexRow3 > .cell5 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 300px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .cell5 {
		flex: 0 0 calc(100% - 0px);
		min-width: unset;
	}
}

.section2__flexRow3 > .spacer5 {
	flex: 0 1 35px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .spacer5 {
		display: none;
	}
}

.section2__flexRow3 > .cell6 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 301px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .cell6 {
		flex: 0 0 calc(100% - 0px);
		min-width: unset;
	}
}

.section2__content_box14 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	margin: 6px 0px 0px 1px;
}

.section2__flexRow3 > .cell7 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 300px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .cell7 {
		flex: 0 0 calc(100% - 0px);
		min-width: unset;
	}
}

.section2__flexRow3 > .spacer6 {
	flex: 0 1 36px;
}
@media (max-width: 767px) {
	.section2__flexRow3 > .spacer6 {
		display: none;
	}
}

.section2__content_box23 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	margin: 6px 0px 0px;
}

.section2__highlights8 {
	display: flex;
	align-items: center;
	font: 400 18px/1.33 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(169, 169, 169);
	letter-spacing: 0px;
	position: relative;
	flex-grow: 1;
	margin: 8px 16px;
}

.section2__flexCol5 > .cell2 {
	display: flex;
	flex-direction: column;
	position: relative;
}

.section2__highlights23 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(34, 34, 34);
	text-align: center;
	letter-spacing: 0px;
	width: 100%;
	height: 100%;
}

.section2__highlights24 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(34, 34, 34);
	text-align: center;
	letter-spacing: 0px;
	width: 255px;
	position: relative;
	min-width: 255px;
	margin: 24px 0px 0px 38px;
}
@media (max-width: 991px) {
	.section2__highlights24 {
		margin: 24px 0px 0px 25px;
	}
}
@media (max-width: 575px) {
	.section2__highlights24 {
		margin: 24px 0px 0px 20px;
	}
}
@media (max-width: 479px) {
	.section2__highlights24 {
		margin: 24px 0px 0px;
	}
}

.section2__flexRow4 {
	display: flex;
	align-items: center;
	-moz-column-gap: 18px;
	column-gap: 18px;
	position: relative;
	margin: 24px 38px 0px;
}
@media (max-width: 991px) {
	.section2__flexRow4 {
		margin: 24px 38px 0px 25px;
	}
}
@media (max-width: 575px) {
	.section2__flexRow4 {
		margin: 24px 20px 0px;
	}
}
@media (max-width: 479px) {
	.section2__flexRow4 {
		margin: 24px 0px 0px;
	}
}

.section2__highlights5 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(22, 84, 185);
	text-align: center;
	letter-spacing: 0px;
	width: 360px;
	position: relative;
	flex: 0 0 auto;
	min-width: 130px;
	flex-wrap: wrap;
}

.section2__flexRow4 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 20px;
}

.section2__icon1 {
	width: 20px;
	height: auto;
	aspect-ratio: 1;
	vertical-align: top;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	position: relative;
	min-width: 20px;
	margin: 1px 0px 0px;
}

.section2__flexCol5 > .cell3 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 1 0 auto;
}

.section2__btn {
	display: flex;
	flex-direction: column;
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(0, 75, 197);
	outline-offset: -1px;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	cursor: pointer;
	position: relative;
	min-width: 0px;
	margin: 18px 0px 0px 38px;
}
@media (max-width: 991px) {
	.section2__btn {
		margin: 18px 0px 0px 25px;
	}
}
@media (max-width: 575px) {
	.section2__btn {
		margin: 18px 0px 0px 20px;
	}
}
@media (max-width: 479px) {
	.section2__btn {
		margin: 18px 0px 0px;
	}
}

.section2__btn__text {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 14px/1.35 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(22, 84, 185);
	text-align: center;
	letter-spacing: 0px;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	position: relative;
	min-width: 0px;
	margin: 6.5px 36px;
	cursor: pointer;
}

.section2__flexCol5 > .cell4 {
	display: flex;
	flex-direction: column;
	position: relative;
}

.section2__flexRow5 {
	display: flex;
	align-items: center;
	position: relative;
	margin: 16px 38px 0px;
}
@media (max-width: 575px) {
	.section2__flexRow5 {
		margin: 16px 38px 0px 25px;
	}
}
@media (max-width: 479px) {
	.section2__flexRow5 {
		margin: 16px 0px 0px;
	}
}

.section2__flexRow5 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 24px;
}

.section2__flexRow5 > .cell1 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 0 95px;
	min-width: 95px;
}

.section2__highlights1 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(41, 41, 41);
	text-align: center;
	letter-spacing: -0.2px;
	position: relative;
	flex-grow: 1;
	margin: 1px 0px 2px 6px;
}

.section2__flexRow5 > .cell2 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 1 24px;
}

.section2__flexRow5 > .cell3 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 0 0 102px;
	min-width: 102px;
}

.section2__highlights43 {
	display: flex;
	align-items: center;
	font: 400 18px/1.33 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(34, 34, 34);
	letter-spacing: 0px;
	position: relative;
	flex-grow: 1;
	margin: 10px 16px 6px;
}

.section2__flexCol1 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 1 0 auto;
}

.section2__btn1 {
	display: flex;
	flex-direction: column;
	background-color: #1eabb8;
	border-radius: 4px 4px 4px 4px;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	cursor: pointer;
	position: relative;
	min-width: 0px;
	margin: 40px auto 0px;
}
@media (max-width: 767px) {
	.section2__btn1 {
		margin: 28px auto 0px;
	}
}

.section2__btn__text1 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(255, 255, 255);
	text-align: center;
	letter-spacing: 0px;
	width: 32px;
	height: auto;
	position: relative;
	min-width: 32px;
	margin: 8.5px 134px;
}

.for_edit_button {
	width: 64px;
}

.section2__box3 {
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 31px;
	right: 24px;
}

.section3__section3 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
	min-height: 32px;
}

.section3__box2 {
	position: relative;
	flex-grow: 1;
}

.section2_input {
	border: 1px solid #dddddd;
	padding: 8px 16px;
	width: 100%;
	min-height: 40px;
	border-radius: 4px;
	font-size: 18px;
	line-height: 24px;
}

.section2_other_input {
	border: 1px solid #dddddd;
	padding: 8px 16px;
	max-width: 100%;
	width: 100%;
	border-radius: 4px;
	font-size: 18px;
	line-height: 24px;
}

.middle_top_for_space {
	margin-top: 10px;
}

.section2_select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	background-image: url("../../assets/selectArrow.svg");
	background-repeat: no-repeat;
	background-position-x: 95%;
	background-position-y: 50%;
}

.col {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.section4__highlights {
	display: flex;
	align-items: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(89, 89, 89);
	letter-spacing: 0px;
	width: 100%;
	position: relative;
	margin: 0px 0px;
}

.section4__box {
	display: flex;
	flex-direction: column;
	background-color: rgb(241, 246, 255);
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	margin: 8px 0px 0px;
}

.section4__circle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(241, 246, 255);
	border-radius: 120px;
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	position: relative;
	margin: 8px 0px 0px;
}

.col1 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
	margin: 48px 27px 29px;
}

.col1 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
}

.section4__icon {
	width: 30px;
	height: auto;
	aspect-ratio: 1;
	vertical-align: top;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	position: relative;
	min-width: 30px;
	margin: 0px 18px;
}

.section4__highlights1 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 400 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(126, 126, 126);
	text-align: center;
	letter-spacing: 0px;
	position: relative;
	margin: 11px 0px 0px;
}

.multiselect__btn {
	border-radius: 4px 4px 4px 4px;
	outline: 1px solid rgb(0, 75, 197);
	outline-offset: -1px;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	min-width: 0px;
	margin: 18px 0px 0px 0px;
}

.box3 {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	outline: 1px solid rgb(221, 221, 221);
	outline-offset: -1px;
	width: 60px;
	height: 60px;
	position: fixed;
	overflow: hidden;
	bottom: 63px;
	right: 24px;
	cursor: pointer;
}
@media (max-width: 767px) {
	.box3 {
		display: none;
	}
}

.flexCol3 {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
	margin: 14px 14px 13px;
}

.flexCol3 > .cell {
	display: flex;
	flex-direction: column;
	position: relative;
}

.image4 {
	width: 14px;
	height: auto;
	aspect-ratio: 1.75;
	vertical-align: top;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	position: relative;
	min-width: 14px;
	margin: 0px 9px;
}

.highlights5 {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 16px/1.31 "Noto Sans TC", Helvetica, Arial, serif;
	color: rgb(169, 169, 169);
	text-align: center;
	letter-spacing: 0px;
	position: relative;
	margin: 4px 0px 0px;
}

input:focus {
	border-color: solid 1px #1eabb8;
}

/* 個案註冊頁 問題2.發票選擇類型一開始設定在二聯式，不應該存在三聯式的INPUT(抬頭統編等) */
#invoiceType_three {
	display: none;
}

.items-container {
	margin-top: 8px;
}

.add-btn-container {
	display: flex;
	align-items: center;
	margin-top: 16px;
}

.input-group img {
	margin-right: 6px;
}

.file-item {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 16px;
	box-sizing: border-box;
}

.file-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.file-name {
	width: 130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 12px;
}

#serviceArea {
	width: 100%; /* Default to full width */
}

/* For tablets and larger screens */
@media (min-width: 768px) {
	#serviceArea {
		width: 75%; /* You can adjust as needed */
	}
}
/* For desktop and larger screens */
@media (min-width: 992px) {
	#serviceArea {
		width: 50%; /* You can adjust as needed */
	}
}
#serviceAreaText {
	margin-top: 10px;
}

#serviceShowServiceArea {
	max-width: 800px;
	min-width: 400px;
}

@media (max-width: 768px) {
	/* 當螢幕寬度小於 768px */
	#serviceShowServiceArea {
		max-width: 600px;
		min-width: 300px;
	}
}
@media (max-width: 480px) {
	/* 當螢幕寬度小於 480px */
	#serviceShowServiceArea {
		max-width: 400px;
		min-width: 200px;
	}
}
#serviceBaseText {
	margin-top: 10px;
}

#serviceShowServiceBase {
	max-width: 800px;
	min-width: 400px;
}

@media (max-width: 768px) {
	/* 當螢幕寬度小於 768px */
	#serviceShowServiceBase {
		max-width: 600px;
		min-width: 300px;
	}
}
@media (max-width: 480px) {
	/* 當螢幕寬度小於 480px */
	#serviceShowServiceBase {
		max-width: 400px;
		min-width: 200px;
	}
}
.img_classificationChoice {
	margin-top: 10px;
	max-width: 800px;
	max-height: 800px;
	border: 1px solid rgb(221, 221, 221);
}

.img_qrCode {
	margin-top: 10px;
	max-width: 200px;
	max-height: 200px;
	border: 1px solid rgb(221, 221, 221);
}

.img_line_office {
	margin-top: 10px;
	max-width: 200px;
	max-height: 200px;
	border: 0px solid rgb(221, 221, 221);
}

.hidden_input {
	display: none;
}

.custom_input {
	width: 200%;
}

.long-underline {
	border-bottom: 1px solid;
	display: inline-block;
	width: 50px; /* 調整下底線的寬度 */
}

.togglePassword {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.eye_padding {
	padding-right: 30px; /* 預留空間給眼睛圖示 */
} /*# sourceMappingURL=style.css.map */
